<div class="table-container px-4 bg-white">
  <% if @user.id == current_user.id %>
    <h3 class="text-center">Stock offers: <%= @stocks.count %></h3>
    <table class="table table-hover table-responsive-md text">
      <thead>
      <tr>
        <th scope="col">Symbol</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Time </th>
      </tr>
      </thead>
      <tbody>
        <% @stocks.each do |stock| %>
          <tr>
            <%# link_to user.email, user %>
            <td class="text"><%= stock.symbol %></td>
            <td class="text"><%= stock.name %></td>
            <td class="text"><%= stock.latest_price %></td>
            <td class="text"><%= stock.latest_time %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
<br></br>
