<div class="table-container p-4 bg-white">
  <% if @user.id == current_user.id %>
    <h3 class="text-center">My Portfolio: <%= @formatted_trades.count %></h3>
    <h3 class="text-center">Available Cash: <%= number_to_currency(@user.cash) %></h3>
    <table class="table table-hover table-responsive-md text">
      <thead>
      <tr>
        <th scope="col">Stock Id</th>
        <th scope="col">Quantity</th>
      </tr>
      </thead>
      <tbody>
        <% @formatted_trades.each do |trade| %>
          <tr>
            <td class="text"><%= trade[:stock_id] %></td>
            <td class="text"><%= trade[:quantity]%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <%= link_to 'Welcome', static_pages_welcome_path, class: "btn btn-gold" %> <%= link_to 'Trade', new_user_trade_path(current_user.id), class: "btn btn-gold" %>
</div>
<br></br>
